---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <p class="creation_date">{{ post.date | date: '%d/%m/%Y' }}</p>
      <h1><a href="{{ site.baseurl }}{{ post.url }}" class="anchor">{{ post.title }}</a></h1>

      {% if post.summary != nil %}
        <div class="entry">
          {{ post.summary }}
        </div>
      {% endif %}

      {% if post.cover != nil %}
        <img src="{{ site.baseurl }}/{{ post.cover }}">
      {% endif %}

      <div style="text-align: center">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more anchor">Więcej</a>
      </div>
    </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Poprzednia</a>
  {% endif %}
  <span class="page_number ">Strona: {{ paginator.page }} z {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Następna</a>
  {% endif %}
</div>
