---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <p class="creation_date">{{ post.date | date: '%d/%m/%Y' }}</p>
      <h1><a href="{{ site.baseurl }}{{ post.url }}" class="anchor">{{ post.title }}</a></h1>

      {% if post.summary != nil %}
        <div class="entry">
          {{ post.summary }}
        </div>
      {% endif %}

      {% if post.cover != nil %}
        <img src="{{ site.baseurl }}/{{ post.cover }}">
      {% endif %}

      <div style="text-align: center">
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more anchor">Więcej</a>
      </div>
    </article>
  {% endfor %}
</div>
