<img class="top_logo" src="{{site.baseurl}}/img/logo.png">
<ul>
	<li><a class="anchor no_children" href="{{site.baseurl}}/">Aktualności</a></li>
	<li><a class="anchor no_children" href="{{site.baseurl}}/about">O mnie</a></li>
</ul>
<div class="category">2016</div>
	<ul>
		<li class="submenu">
			<a class="anchor" href="{{site.baseurl}}/Serbia-2016">Serbia</a>
			<ul>
				<li><a class="anchor" href="{{site.baseurl}}/Belgrad-2016">Belgrad, cz. 1.</a></li>
				<li><a class="anchor" href="{{site.baseurl}}/Belgrad2-2016">Belgrad, cz. 2.</a></li>
				<li><a class="anchor" href="{{site.baseurl}}/Belgrad3-2016">Belgrad, cz. 3.</a></li>
			</ul>
		</li>
	</ul>
<div class="category">2015</div>
<ul>
	<li><a class="anchor" href="{{site.baseurl}}/Lazienki-2015">Łazienki Królewskie</a></li>
	<li><a class="anchor" href="{{site.baseurl}}/Lodz-2015">Light Move Festival w Łodzi</a></li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Armenia-2015">Armenia</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Erywan-2015">Erywań cz. 1.</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Erywan2-2015">Erywań cz. 2.</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Erywan3-2015">Muzeum Ludobójstwa w Erywaniu</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Garni-2015">Garni</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Sewan-2015">Jezioro Sewan</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Noratus-2015">Noratus</a></li>
		</ul>
	</li>
	<li><a class="anchor" href="{{site.baseurl}}/Arkadia-2015">Arkadia i Nieborów</a></li>
	<li><a class="anchor" href="{{site.baseurl}}/Wisla-2015">Latem nad Wisłą</a></li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Maroko-2015">Maroko</a>
		<ul
			<li><a class="anchor" href="{{site.baseurl}}/Taroudant-2015">Taroudant</a></li>
		</ul>
	</li>
</ul>
<div class="category">2014</div>
<ul>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Chorwacja-2014">Chorwacja</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Plitvice-2014">Jeziora Plitwickie</a></li>
		</ul>
	</li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Slowenia-2014">Słowenia</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Lublana-2014">Lublana, cz. 1.</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Lublana2-2014">Lublana, cz. 2.</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Postojna-2014">Jaskinia Postojna</a></li>
		</ul>
	</li>
	<li><a class="anchor" href="{{site.baseurl}}/Kepa-2014">Kępa Potocka</a></li>
	<li><a class="anchor" href="{{site.baseurl}}/Ogrod-Krasinskich-2014">Ogród Krasińskich</a></li>
	<li><a class="anchor" href="{{site.baseurl}}/Muzeum-Historii-2014">Muzeum Historii Żydów Polskich</a></li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Albania-2014">Albania</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Berat1-2014">Berat cz. 1.</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Berat2-2014">Berat cz. 2.</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Butrint-2014">Butrint</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Porto-Palermo-2014">Porto Palermo</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Przelecz-Llogara-2014">Przełęcz Llogara</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Wlora-2014">Wlora</a></li>
		</ul>
	</li>
		<li><a class="anchor" href="{{site.baseurl}}/Kampinos-2014">Puszcza Kampinoska</a></li>
		<li><a class="anchor" href="{{site.baseurl}}/Kopiec-Powstania-2014">Kopiec Powstania Warszawskiego</a></li>
		<li><a class="anchor" href="{{site.baseurl}}/Wilanow-2014">Wilanów</a></li>
</ul>
<div class="category">2013</div>
<ul>
	<li><a class="anchor" href="{{site.baseurl}}/Lazienki-2013">Jesień w Łazienkach Królewskich</a></li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Szkoda-2013">Albania</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Szkodra-2013">Szkodra</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Kruja-2013">Kruja</a></li>
		</ul>
	</li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Most-Na-Tarze-2013">Czarnogóra</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Most-Na-Tarze-2013">Most na Tarze</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Ulcinj-2013">Ulcinj</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Czarnogora-rozne-2013">Różne</a></li>
		</ul>
	</li>
</ul>
