<img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png">
<ul>
	<li><a class="anchor" href="{{site.baseurl}}/">Aktualności</a></li>
	<li><a class="anchor" href="{{site.baseurl}}/about">O mnie</a></li>
</ul>
<div class="category">2015</div>
<ul>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Maroko-2015">Maroko</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Maroko-2015">Wstęp</a></li>
		</ul>
	</li>
</ul>
<div class="category">2013</div>
<ul>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Most-Na-Tarze-2013">Czarnogóra</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Most-Na-Tarze-2013">Most na Tarze</a></li>
		</ul>
	</li>
</ul>