<img class="top_logo" src="{{site.baseurl}}/img/logo.png">
<ul>
	<li><a class="anchor no_children" href="{{site.baseurl}}/">Aktualności</a></li>
	<li><a class="anchor no_children" href="{{site.baseurl}}/about">O mnie</a></li>
</ul>
<div class="category">2015</div>
<ul>
	<li><a class="anchor" href="{{site.baseurl}}/Lazienki-2015">Łazienki Królewskie</a></li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Maroko-2015">Maroko</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Maroko-2015">Wstęp</a></li>
		</ul>
	</li>
</ul>
<div class="category">2014</div>
<ul>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Slowenia-2014">Słowenia</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Postojna-2014">Jaskinia Postojna</a></li>
		</ul>
	</li>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Albania-2014">Albania</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Butrint-2014">Butrint</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Porto-Palermo-2014">Porto Palermo</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Przelecz-Llogara-2014">Przełęcz Llogara</a></li>
			<li><a class="anchor" href="{{site.baseurl}}/Wlora-2014">Wlora</a></li>
		</ul>
	</li>
</ul>
<div class="category">2013</div>
<ul>
	<li class="submenu">
		<a class="anchor" href="{{site.baseurl}}/Most-Na-Tarze-2013">Czarnogóra</a>
		<ul>
			<li><a class="anchor" href="{{site.baseurl}}/Most-Na-Tarze-2013">Most na Tarze</a></li>
		</ul>
	</li>
</ul>
