
//
// VARIABLES
//

// Colors
$background: #e8e8e8;
$gray: #404040;
$orange: #ff9800;
$content: #263248;
// $RESERVE: #7E8AA2;

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);
$trebuchet: 'Lato' sans-serif;
