
//
// VARIABLES
//

// Colors
$background: #fff;

$light: #c1b8a3;
$dark: #5b5036;
$content: #000;
// $RESERVE: #7E8AA2;

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,100,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,latin-ext);

$main_font: 'Roboto', sans-serif;
$secondary_font: 'Roboto Condensed', sans-serif;
